<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>LVL 3</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")


</head>
<body ng-app="appModule">
    <!--header-->
    <header class="top">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">LVL 3 Task</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/make"><i class="fa fa-shield"></i> Makes</a></li>
                    <li><a href="#/model"><i class="fa fa-shield"></i> Models</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--End of header-->

    <div class="container body-content">

        <div ui-view></div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/app/js/angularUtils-pagination-0.11.0/dirPagination.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
